<div>
	<input type="text" placeholder="Search">
	<ul class="collapsible" data-collapsible="accordion">
		<li ng-repeat="unit in orgunits" ng-click="getOrgDetails(unit.id)">
			<div class="collapsible-header">{{ unit.name }}</div>
			<div class="collapsible-body">
				<!-- directive? -->
				<!-- table fungerer daarlig paa descirption og comments som kan vaere lang, ubrukelig: fixit
					contact  person and info?
				-->
				<table>
					<tbody>
						<tr>
							<td><b>Name:</b> {{orgdetails.name}}</td>
							<td><b>Short name:</b> {{orgdetails.shortName}}</td>
							<td><b>Code:</b> {{orgdetails.code}}</td>
						</tr>
						<tr>
							<td colspan="3"><b>Description:</b> {{orgdetails.description}}</td>
						</tr>
						<tr>
							<td><b>Opening date:</b> {{orgdetails.openingDate}}</td>
							<td><b>Closed date:</b> {{orgdetails.closedDate}}</td>
							<td><b>Registers date:</b> ???placeholder???</td>
						</tr>
						<tr>
							<td colspan="3"><b>Comment:</b> {{orgdetails.comment}}</td>
						</tr>
						<tr>
							<td><b>Last updated:</b> {{orgdetails.lastUpdated}}</td>
							<td><b>Created by:</b> {{orgdetails.contactPerson}}???placeholder???</td>
							<td><b>ID:</b> {{orgdetails.id}}</td>
						</tr>
						<tr>
							<td><b>URL:</b> {{orgdetails.url}}</td>
							<td colspan="2"><a class="waves-effect waves-light btn right">Edit</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</li>
	</ul>
</div>