<div class="row">
	<div id="map-holder" class="col s12 m4">
		map window
	</div>
	<div id="fill-content" class="col s12 m8">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s6"><a href="#search-window">Search</a></li>
					<li class="tab col s6"><a href="#add-window">Add/edit</a></li>
				</ul>
			</div>
			<div id="search-window" class="col s12">
				<org-list data="orgunits"></org-list>
				<!-- Simjes pagination merging -->
				<ul class="pagination right">
					<li ng-class="($index + 1) == activePage ? 'active' : 'waves-effect'" ng-repeat="page in numberOfPages track by $index" ng-click="goToPage($index + 1)">¨
						<!-- id to page? -->
						<a href="#!">{{$index + 1}}</a>
					</li>
				</ul>
			</div>
			<div id="add-window" class="col s12">
				<h3 id="addHeader">Add unit</h3>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6">
								<input id="org_name" type="text">
								<label for="org_name">Name</label>
							</div>
							<div class="input-field col s12 m6">
								<input id="short_name" type="text">
								<label for="short_name">Short Name</label>
							</div>
							<div class="input-field col s12 m6">
								<input id="org_description" type="text">
								<label for="org_description">Description</label>
							</div>
							<div class="input-field col s12 m6">
								<input id="org_code" type="text">
								<label for="org_code">Code</label>
							</div>
							<div class="col s12">
								<label for="org_opening_date">Opening Date</label>
								<input id="org_opening_date" type="date" class="datepicker">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>